*{
    margin: 0%;
    
}

.container {
    position: relative;
  }
  
  .water {
    width: 100%;
    height: 731.5px;
  }
  
  .logo {
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .circle{
    position: absolute;
    top: 60%;
    left: 50%;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 2;
    animation-name: blink;
    background-color:white;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }
  
  @keyframes blink {
    from {background-color:white;}
    to {background-color: black;}
  }
  .circle1{
    position: absolute;
    top: 60%;
    left: 51.5%;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 2;
    animation-name: blink;
    background-color:white;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .circle2{
    position: absolute;
    top: 60%;
    left: 53%;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid black;
    z-index: 2;
    animation-name: blink;
    background-color:white;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }