.left{
    box-shadow: 0px 0px 5px  gray;
    width: 28%;
    height: 735px;
}

.requestpage{
    display: flex;
    flex-direction: row;
}

.R-logo{
    margin-left: 50px;
    margin-top: 25px;
}

.l-title{
    margin-top: 32px;
    margin-left: 10px;
}

.titles{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 6px;
    margin-right: 1px;
    padding-bottom: 5px;
}

.titles:hover{
    background-color: #FFDBA4;
    border-radius: 10px 10px 10px 10px;
}

