.outer{
    margin: auto 37% ;
    margin-top: 10%;
    padding: 4%;
    padding-top: 1%;
    box-shadow: 0px 0px 1px 1px;
    border-radius: 10px;
    height: 440px;
    width: 29%;
}

.tit{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.tit h1{
    margin-top: 10px;
}

.inner{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inputfield input{
    margin-top: 10px;
    width: 100%;
    padding: 2%;
    box-shadow: 0px 0px 1px 1px gray;
    border-radius: 5px;
}

#name{
    margin-bottom: 15px;
}

#pass{
    margin-bottom: 6px;
}

.btn{
    margin-top: 10%;
    width: 100%;
    box-shadow: 0px 0px 1px 1px gray;
    border-radius: 5px;
    padding: 1%;
    background-color: rgb(243, 173, 82);
}
.btn:hover{
    background-color: rgb(242, 160, 52);
}

a{
    /* color: rgb(157, 237, 130); */
}


.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.below{
    margin-top: 20px;
}

.below h2{
    margin-left: 10%;
    margin-top: 3px;
}

